/* Loader */
.loader {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  margin-top: 100px;
  top: 20%;
  right: 3%;
  color: #4E31AA;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #4E31AA;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader1 2s 0.5s ease infinite;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #4E31AA;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader2 2s 0.5s ease infinite;
}

.loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: #4E31AA;
  }
  50% {
    top: 20px;
    color: #261954;
  }
  100% {
    top: 0;
    color: #4E31AA;
  }
}

@keyframes animloader1 {
  0% {
    top: 0;
    color: #4E31AA;
  }
  50% {
    top: 20px;
    color: #261954;
  }
  100% {
    top: 0;
    color: #4E31AA;
  }
}

@keyframes animloader2 {
  0% {
    top: 0;
    color: #4E31AA;
  }
  50% {
    top: 40px;
    color: #261954;
  }
  100% {
    top: 0;
    color: #4E31AA;
  }
}



/* Watchlist */

.watchlist_title {
  font-family: 'Bebas Neue', sans-serif;
  color: #4E31AA;
  font-size: 5em;
  text-align: center;
  border-bottom: 2px solid #4E31AA;
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width:800px;
}

.watchlist_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1950px;
  display: grid;
  place-items: center;
  padding-bottom: 100px;
}

@media screen and (min-width: 0px) and (max-width: 1269px) {
  .watchlist_container {
    width: 650px;
  }
}

@media screen and (min-width: 1270px) and (max-width: 1999px) {
  .watchlist_container {
    width: 1300px;
    grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (min-width: 1999px) and (max-width: 2699px) {
  .watchlist_container {
    grid-template-columns: repeat(3, 33%);
  }
}

.watchlist_collection_card {
  background-color: #ebebeb;
  border-radius: 20px;
  height: 300px;
  width: 600px;
  padding: 20px;
  padding-right: 40px;
  margin: 10px;
  box-shadow: 0px 0px 30px #c4b49a;
  transition: 300ms;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.watchlist_collection_card {
  text-decoration: none;
  color: #4E31AA;
}

.watchlist_item_floor_price, .watchlist_item_owners {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}

.watchlist_item_floor_price h3, .watchlist_item_owners h3 {
  margin-bottom: 0px;
}

.watchlist_item_floor_price p, .watchlist_item_owners p {
  margin-top: 0px;
}

.watchlist_item_info_container {
  width: 130%;
  text-align: center;
}

.watchlist_item_title {
  text-align: center;
}

.watchlist_collection_card:hover {
  transition: 500ms;
  transform: translate(0, -5px);
}
.watchlist_item_image {
  border-radius: 100%;
  border: 5px solid white;
  height: 200px;
  box-shadow: 0px 0px 20px rgb(206, 206, 206);
}

/* Navigation Bar */

.navigation_bar {
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
  align-items: center;
}

.title_navigation {
  order: 0;
  color: black;
  text-decoration: none;
}

.profile_pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  grid-column: 6/7;
  position: relative;
  left: 100px;;
}

.search_item_navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: 10px;
  border: 1px solid rgb(198, 198, 198);
  text-decoration: none;
  color: black;
}

.search_item_navigation:hover {
  transition: 200ms;
  background-color: #ebebeb;
}

.search_item_image_navigation {
  border-radius: 50%;
}

.input_element_navigation {
  border-radius: 7px;
  border: 1px solid #c8c8c8;
  height: 30px;
  width: 400px;
}

.collections_options_navigation {
  position: absolute;
  top: 70px;
  left: 17.3%;
  grid-column: 2/3;
  width: 400px;
  height: auto;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.error_page{
  background-color: #b7b7b7;
  text-align: center;
  height: 100%;
  width: 100%;
}


/* CollectionOverview */
.collection_item_image {
  width: auto;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.collection_item_title {
  font-size: 20px;
  position: relative;
  left: 20px;
  bottom: 10px;
}

.collection_overview_container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(5,28%);
  place-items: center;
  height: auto;
}

.collection_item_container {
  background-color: #98a7b3;
  box-shadow: 0px 0px 20px #27374D;
  border-radius: 20px;
  width: 250px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
  color: #FAF1E4;
}

.collection_item_href {
  text-decoration: none;
}

.collection_item_image_container {
  height: 250px;
  overflow: hidden;
}

.collection_item_container:hover img{
  transform: scale(1.1);
}

.collection_info_container {
  height: 550px;
}

.collection_info_image {
  height: 200px;
  width: auto;
  margin: 30px;
  margin-bottom: 0px;
  border-radius: 30px;
  border: 8px solid white;
}

.collection_info_name {
  padding-left: 40px;
}

.collection_info_links {
  position: absolute;
  top: 40%;
  right: 5%;
}

.collection_info_ {
  padding: 10px;
}

/* Item Overview */
.item_info_image {
  width: 400px;
}

.must_login_container {
  text-align: center;
}