/* Item Skeleton */

.item_skeleton_container {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.movie--isloading {
  width: 250px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}

.movie--isloading .loading-image {
  height: 240px;
  background-image: -webkit-linear-gradient(left, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  background-image: -o-linear-gradient(left, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  background-image: linear-gradient(90deg, #ececec 0px, #f4f4f4 40px, #ececec 80px);
  background-size: 250px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
          animation: shine-loading-image 2s infinite ease-out;
}

.movie--isloading .loading-content {
  background: #f7f7f7;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie--isloading .loading-content .loading-text-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.movie--isloading .loading-content .loading-main-text {
  height: 30px;
  width: 65%;
  margin-bottom: 10px;
  background: #ececec;
  background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
          animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-sub-text {
  height: 10px;
  width: 50%;
  background: #ececec;
  background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
  background-size: 250px;
  border-radius: 10px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
          animation: shine-loading-container-items 2s infinite ease-out;
}

.movie--isloading .loading-content .loading-btn {
  width: 60px;
  height: 25px;
  background: #ececec;
  background-image: -webkit-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: -o-linear-gradient(left, #ececec 0px, #ddd 40px, #ececec 80px);
  background-image: linear-gradient(90deg, #ececec 0px, #ddd 40px, #ececec 80px);
  background-size: 250px;
  border-radius: 3px;
  -webkit-animation: shine-loading-container-items 2s infinite ease-out;
          animation: shine-loading-container-items 2s infinite ease-out;
}


@-webkit-keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}


@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
}

@-webkit-keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}

@keyframes shine-loading-container-items {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 140px;
  }
}


/* Info Skeleton */

@keyframes wave-lines {
  0% {
      background-position: -468px 0;
  }
   100% {
      background-position: 468px 0;
  }
}

.top_portion {
  display: flex;
  justify-content: space-between;
}

.bottom_portion {
  display: flex;
  flex-direction: column;
}

.body_skeleton {
  background: #ddd;
}

.card_skeleton {
  margin: 10px 0px;
  width: 100%;
  min-height: 550px;
  background-color: #f8efdd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }

.image {
    border-radius: 20px;
    width: 250px;
    height: 250px;
    margin: 30px;
  }

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 30px 10px;
  border-radius: 100%;
  background-color: #E1D7C6;
}

.icons_container {
  position: relative;
  top: 80%;
  right: 20%;
}

.text {
  height: 15px;
  width: 800px;
  margin: 20px 30px;
  border-radius: 20px;
  background-color: #E1D7C6;
}

.title {
  height: 30px;
  width: 250px;
  margin: 20px 30px;
  border-radius: 20px;
  background-color: #E1D7C6;
}

.metadata {
  display: inline-block;
  margin: 20px;
  border-radius: 40px;
  height: 30px;
  width: 100px;
  background-color: #E1D7C6;
  text-align: center;
}

.metadata_content {
  margin: 2px;
}

.content {
  background-color: #E1D7C6;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(130, 130, 130, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(130, 130, 130, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 2s infinite ease-out;
}


/* Loader */
.loader {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -50px auto 0;
  position: relative;
  margin-top: 100px;
  top: 20%;
  right: 3%;
  color: #4E31AA;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #4E31AA;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader1 2s 0.5s ease infinite;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: #4E31AA;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader2 2s 0.5s ease infinite;
}

.loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: #4E31AA;
  }
  50% {
    top: 20px;
    color: #261954;
  }
  100% {
    top: 0;
    color: #4E31AA;
  }
}

@keyframes animloader1 {
  0% {
    top: 0;
    color: #4E31AA;
  }
  50% {
    top: 20px;
    color: #261954;
  }
  100% {
    top: 0;
    color: #4E31AA;
  }
}

@keyframes animloader2 {
  0% {
    top: 0;
    color: #4E31AA;
  }
  50% {
    top: 40px;
    color: #261954;
  }
  100% {
    top: 0;
    color: #4E31AA;
  }
}



/* Watchlist */

.watchlist_title {
  font-family: 'Bebas Neue', sans-serif;
  color: #4E31AA;
  font-size: 5em;
  text-align: center;
  border-bottom: 2px solid #4E31AA;
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width:800px;
}

.watchlist_container {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 1950px;
  display: grid;
  place-items: center;
  padding-bottom: 100px;
}

.watchlist_collection_card {
  background-color: #ebebeb;
  border-radius: 20px;
  height: 300px;
  width: 600px;
  padding: 20px;
  padding-right: 40px;
  margin: 10px;
  box-shadow: 0px 0px 30px #c4b49a;
  transition: 300ms;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.watchlist_collection_card {
  text-decoration: none;
  color: #4E31AA;
}

.watchlist_item_floor_price, .watchlist_item_owners {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}

.watchlist_item_floor_price h3, .watchlist_item_owners h3 {
  margin-bottom: 0px;
}

.watchlist_item_floor_price p, .watchlist_item_owners p {
  margin-top: 0px;
}

.watchlist_item_info_container {
  width: 130%;
  text-align: center;
}

.watchlist_item_title {
  text-align: center;
}

.watchlist_collection_card:hover {
  transition: 500ms;
  transform: translate(0, -5px);
}
.watchlist_item_image {
  border-radius: 100%;
  border: 5px solid white;
  height: 200px;
  box-shadow: 0px 0px 20px rgb(206, 206, 206);
}

/* Navigation Bar */

.navigation_bar {
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
  align-items: center;
}

.title_navigation {
  order: 0;
  color: black;
  text-decoration: none;
}

.profile_pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  grid-column: 6/7;
  position: relative;
  left: 100px;;
}

.search_item_navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 10px;
  font-size: 10px;
  border: 1px solid rgb(198, 198, 198);
  text-decoration: none;
  color: black;
}

.search_item_navigation:hover {
  transition: 200ms;
  background-color: #ebebeb;
}

.search_item_image_navigation {
  border-radius: 50%;
}

.input_element_navigation {
  border-radius: 7px;
  border: 1px solid #c8c8c8;
  height: 30px;
  width: 400px;
}

.collections_options_navigation {
  position: absolute;
  top: 70px;
  left: 17.3%;
  grid-column: 2/3;
  width: 400px;
  background-color: #e8e8e8;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
  max-height: 300px;
  overflow: scroll;

}

.error_page{
  background-color: #b7b7b7;
  text-align: center;
  height: 100%;
  width: 100%;
}


/* CollectionOverview */
.collection_item_image {
  width: auto;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.collection_item_title {
  font-size: 20px;
  position: relative;
  left: 20px;
  bottom: 10px;
}

.collection_overview_container {
  display: grid;
  place-items: center;
  height: auto;
}

.collection_item_container {
  background-color: #ebebeb;
  box-shadow: 0px 0px 30px #a99b84;
  border-radius: 20px;
  width: 250px;
  height: 320px;
  overflow: hidden;
  cursor: pointer;
  color: #4E31AA;
  margin: 20px;
}

.description {
  max-width: 1000px;
  margin: 5px 30px;
}

.add_to_watchlist {
  background-color: #a09eaa;
  border: none;
  width: 180px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  bottom: 12px;
}

.add_to_watchlist:hover {
  background-color: #75737d;
  transition: 100ms;
}

.remove_from_watchlist {
  background-color: #a09eaa;
  border: none;
  width: 180px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  bottom: 12px;
}

.remove_from_watchlist:hover{
  background-color: #75737d;
  transition: 100ms;
}

.collection_item_href {
  text-decoration: none;
}

.collection_item_image_container {
  height: 250px;
  overflow: hidden;
  box-shadow: 0px 1px 20px #89857f;
}

.collection_item_container:hover img{
  transform: scale(1.1);
}

.collection_info_container {
  margin: 10px 0px;
  width: 100%;
  min-height: 550px;
  background-color: #E1D7C6;
  border-radius: 10px;
  box-shadow: 0 0 10px #c2b398;
}

.collection_info_image {
  height: 250px;
  width: 250px;
  margin: 20px;
  margin-bottom: 0px;
  border-radius: 30px;
  border: 8px solid white;
}

.collection_info_name {
  font-size: 2em;
  padding-left: 30px;
  margin: 10px 0px;
}

.collection_info_links {
  position: relative;
  top: 80%;
  right: 20%;
}

.collection_info_ {
  padding: 10px;
}

.info_metadata {
  margin: 20px;
}

.internet_logo, .eth_logo {
  height: 25px;
  width: 25px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 100%;
}

/* Item Overview */
.item_info_image {
  width: 400px;
  border-radius: 20px;
  border: 8px solid white;
  margin: 20px 20px 0px 40px;
}

.item_info_name {
  margin: 20px;
  margin-left: 40px;
  font-size: xx-large;
}

.item_info_description {
  margin: 40px;
}

.metadata_info_container {
  display: grid;
  background-color: #75737d;
  box-shadow: 0px 0px 10px #857a68;
  border-radius: 14px;
  width: 500px;
  margin: 40px;
  place-content: center;
  grid-template-columns: repeat(3, 33.3%);
}

.metadata_item_card {
  background-color: #a09eaa;
  box-shadow: 0px 0px 10px #525253;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
}

.must_login_container {
  text-align: center;
}




@media screen and (min-width: 0px) and (max-width: 1269px) {
  .watchlist_container {
    width: 650px;
    background-color: pink;
  }
  .collection_overview_container {
    grid-template-columns: repeat(3, 33%);
  }
  .item_skeleton_container {
    grid-template-columns: repeat(3, 33%);
  }
}

@media screen and (min-width: 1270px) and (max-width: 1998px) {
  .watchlist_container {
    width: 1300px;
    grid-template-columns: repeat(2, 50%);
  }

  .collection_overview_container {
    grid-template-columns: repeat(5, 19.9%);
  }

  .item_skeleton_container {
    grid-template-columns: repeat(5, 20%);
  }
}

@media screen and (min-width: 1999px) and (max-width: 2699px) {
  .watchlist_container {
    grid-template-columns: repeat(3, 33%);
  }
  .collection_overview_container {
    grid-template-columns: repeat(8, 12.5%);
  }
  .item_skeleton_container {
    grid-template-columns: repeat(8, 12.5%);
  }
}